ideas.txt
frontend/public/images/home_page/images/charcoal_background_dark.jpg
frontend/public/images/home_page/images/charcoal_background_light.jpg
notes.txt
frontend/src/styles/albums/test.scss
frontend/public/images/music_page/album_page/the_depths/audio/04_Let_the_Colosseum_Crumble_Instrumental_(Mix 1).wav
frontend/public/images/music_page/album_page/the_depths/audio/05_Mirage_Mix_2.wav
frontend/public/images/music_page/album_page/the_depths/audio/06_The_Invasion_Mix_2.wav
frontend/public/images/music_page/album_page/the_depths/audio/07_Unidentifiable_Catch_(Instrumental)_(Mix 3).wav
frontend/public/images/music_page/album_page/the_depths/audio/08_Welcome_to_the_Massacre.wav
