ideas.txt
notes.txt
frontend/public/audio/the_depths/01_UFO.wav
frontend/public/audio/the_depths/02_Whales_(Krillionaire Mix).wav
frontend/public/audio/the_depths/03_Arctic_Expedition_(Instrumental)_Mix 5.wav
frontend/public/audio/the_depths/04_Let_the_Colosseum_Crumble_Instrumental_(Mix 1).wav
frontend/public/audio/the_depths/05_Mirage_Mix_2.wav
frontend/public/audio/the_depths/06_The_Invasion_Mix_2.wav
frontend/public/audio/the_depths/07_Unidentifiable_Catch_(Instrumental)_(Mix 3).wav
frontend/public/audio/the_depths/08_Welcome_to_the_Massacre.wav
frontend/public/audio/into_the_grave/01_Obsolescence.wav
frontend/public/audio/into_the_grave/02_Ticking_Time_Bomb.wav
frontend/public/audio/into_the_grave/03_The_Dark.wav
frontend/public/audio/into_the_grave/04_Shadows.wav
frontend/public/audio/into_the_grave/05_Escape.wav
frontend/public/audio/into_the_grave/06_The_Time_Has_Come.wav
frontend/public/audio/into_the_grave/07_Into_the_Grave.wav
frontend/public/audio/into_the_grave/08_The_Rift.wav
frontend/public/audio/into_the_grave/09_Indifferent.wav
frontend/public/audio/into_the_grave/10_Abyss.wav
frontend/public/audio/into_the_grave/11_Light_of_Dawn.wav
frontend/public/audio/into_the_grave/12_The_Fight_for_the_Unknown.wav
frontend/public/audio/into_the_grave/13_Defy.wav
frontend/public/audio/into_the_grave/14_Decay.wav
frontend/public/audio/into_the_grave/15_Permanence.wav
frontend/public/audio/into_the_grave/16_This_is_Worthless.wav
frontend/public/audio/ll_0_ll_lll/01_CyberSong.wav
frontend/public/audio/ll_0_ll_lll/02_Kick_in_the_Teeth.wav
frontend/public/audio/ll_0_ll_lll/03_From_the_Ashes.wav
frontend/public/audio/ll_0_ll_lll/04_Sick_of_It.wav
frontend/public/audio/ll_0_ll_lll/05_Empty_Shell.wav
frontend/public/audio/ll_0_ll_lll/06_Burned.wav
frontend/public/audio/ll_0_ll_lll/07_Ghost.wav
frontend/public/audio/ll_0_ll_lll/08_Fight_to_Survive.wav
frontend/public/audio/ll_0_ll_lll/09_Kick_in_the_Teeth_Instrumental.wav
frontend/public/audio/ll_0_ll_lll/10_From_the_Ashes_Instrumental.wav
frontend/public/audio/ll_0_ll_lll/11_Sick_of_it_Instrumental.wav
frontend/public/audio/ll_0_ll_lll/12_Empty_Shell_Instrumental.wav
frontend/public/audio/ll_0_ll_lll/13_Burned_Instrumental.wav
frontend/public/audio/ll_0_ll_lll/14_Ghost_Instrumental.wav
frontend/public/audio/ll_0_ll_lll/15_Fight_to_Survive_Instrumental.wav
frontend/public/audio/II_0_II_III/01_CyberSong.wav
frontend/public/audio/II_0_II_III/02_Kick_in_the_Teeth.wav
frontend/public/audio/II_0_II_III/03_From_the_Ashes.wav
frontend/public/audio/II_0_II_III/04_Sick_of_It.wav
frontend/public/audio/II_0_II_III/05_Empty_Shell.wav
frontend/public/audio/II_0_II_III/06_Burned.wav
frontend/public/audio/II_0_II_III/07_Ghost.wav
frontend/public/audio/II_0_II_III/08_Fight_to_Survive.wav
frontend/public/audio/II_0_II_III/09_Kick_in_the_Teeth_Instrumental.wav
frontend/public/audio/II_0_II_III/10_From_the_Ashes_Instrumental.wav
frontend/public/audio/II_0_II_III/11_Sick_of_it_Instrumental.wav
frontend/public/audio/II_0_II_III/12_Empty_Shell_Instrumental.wav
frontend/public/audio/II_0_II_III/13_Burned_Instrumental.wav
frontend/public/audio/II_0_II_III/14_Ghost_Instrumental.wav
frontend/public/audio/II_0_II_III/15_Fight_to_Survive_Instrumental.wav
backend/core/settings.py
