ideas.txt
notes.txt
frontend/public/audio/the_depths/01_UFO.wav
frontend/public/audio/the_depths/02_Whales_(Krillionaire Mix).wav
frontend/public/audio/the_depths/03_Arctic_Expedition_(Instrumental)_Mix 5.wav
frontend/public/audio/the_depths/04_Let_the_Colosseum_Crumble_Instrumental_(Mix 1).wav
frontend/public/audio/the_depths/05_Mirage_Mix_2.wav
frontend/public/audio/the_depths/06_The_Invasion_Mix_2.wav
frontend/public/audio/the_depths/07_Unidentifiable_Catch_(Instrumental)_(Mix 3).wav
frontend/public/audio/the_depths/08_Welcome_to_the_Massacre.wav
