$album-pages-debug: true;

/**********************/
/***** Containers *****/
/**********************/

@mixin album-div-main-debug-border {
    border: solid #668d85;
}

.album-div-main {
  background-size: cover;
  min-height: 100%;
  min-width: 100%;
  position: absolute;
  overflow: visible; 
  display: flex;
  justify-content: center;

  @if $album-pages-debug {
    @include album-div-main-debug-border;
  }
}

@mixin album-page-content-debug-border {
    border: solid #668d85;
}

.album-page-content {
  position: relative;
  top: 100px;
  width: 1500px;
  height: 500px;
  display: inline-block;
  height: fit-content;
  @if $album-pages-debug {
    @include album-page-content-debug-border;
  }
}

@mixin album-page-title-div-debug-border {
    border: solid white;
}

.album-page-title-div {
  min-width: 100%;
  height: 75px;
  @if $album-pages-debug {
    @include album-page-title-div-debug-border;
  }
}

@mixin album-page-title-header-debug-border {
    border: solid rgb(195, 0, 255);
}

.album-page-title-header {
  min-width: 100%;
  min-height: 100%;
  color:#4d0505;
  font-family: 'Courier New', Courier, monospace;
  font-style: italic;
  letter-spacing: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 40px;
  text-shadow: 1.5px 1.5px #000000;
  font-weight: lighter;
  margin-top: 0px;
  @if $album-pages-debug {
    @include album-page-title-header-debug-border;
  }
}

@mixin album-page-content-table-container-debug-border {
    border: solid rgb(255, 255, 255);
}

.album-page-content-table-container {
  min-width: 100%;
  min-height: 100%;
  display: flex;
  @if $album-pages-debug {
    @include album-page-content-table-container-debug-border;
  }
}

@mixin album-page-content-table-debug-border {
    border: solid #ff0000;
}

.album-page-content-table {
  min-height: 500px;
  max-height: 500px;
  min-width: 100%;
  max-width: 100%;
  @if $album-pages-debug {
    @include album-page-content-table-debug-border;
  }
}

/********************************/
/***** Album player content *****/
/********************************/

@mixin album-player-column-debug-border {
    border: solid rgb(219, 0, 190);
}

.album-player-column {
  min-height: 500px;
  max-height: 500px;
  width: 405px;
  position: relative;
  @if $album-pages-debug {
    @include album-player-column-debug-border;
  }
}

@mixin album-player-header-debug-border {
    border: solid rgb(255, 255, 255);
}

.album-player-header{
  color: white;
  position: absolute;
  width: 100%;
  top: 0;
  margin-top: 0px;
  @if $album-pages-debug {
    @include album-player-header-debug-border;
  }
}

@mixin album-player-div-debug-border {
    border: solid rgb(0, 217, 255);
}

.album-player-div{
  min-width: 100%;
  max-width: 100%;
  height: 91%;
  position: absolute;
  top: 42px;
  @if $album-pages-debug {
    @include album-player-div-debug-border;
  }
}

/***********************/
/***** Art content *****/
/***********************/

@mixin art-column-debug-border {
    border: solid rgb(123, 255, 0);
}

.art-column {
  min-height: 500px;
  max-height: 500px;
  width: 345px;
  position: relative;
  @if $album-pages-debug {
    @include art-column-debug-border;
  }
}

@mixin artwork-header-debug-border {
    border: solid rgb(0, 217, 255);
}

.artwork-header{
  color: white;
  position: absolute;
  width: 100%;
  top: 0;
  margin-top: 0px;
  @if $album-pages-debug {
    @include artwork-header-debug-border;
  }
}

@mixin artwork-div-debug-border {
    border: solid rgb(76, 0, 255);
}

.artwork-div{
  min-width: 345px;
  max-width: 345px;
  height: 91%;
  position: absolute;
  top: 42px;
  @if $album-pages-debug {
    @include artwork-div-debug-border;
  }
}

@mixin artwork-debug-border {
    border: solid #009578;
}

.artwork {
  position: absolute;
  width: 345px;
  background-color: rgb(209, 209, 20, 0);
  @if $album-pages-debug {
    @include artwork-debug-border;
  }
}

@mixin art-list-debug-border {
    border: solid #ff2803;
}

.art-list{
  display: grid;
  padding: 0.5rem;
  gap: 1rem;
  list-style-type: none;
  margin-top: 0px;
  @if $album-pages-debug {
    @include art-list-debug-border;
  }
}

/*******************************/
/***** Lyric sheet content *****/
/*******************************/

@mixin lyrics-column-debug-border {
    border: solid rgb(212, 212, 212);
}

.lyrics-column {
  min-height: 500px;
  max-height: 500px;
  width: 345px;
  position: relative;
  @if $album-pages-debug {
    @include lyrics-column-debug-border;
  }
}

@mixin lyric-sheet-header-debug-border {
    border: solid rgb(0, 217, 255);
}

.lyric-sheet-header{
  color: white;
  white-space: nowrap;
  overflow: hidden;
  position: absolute;
  width: 100%;
  top: 0;
  margin-top: 0px;
  @if $album-pages-debug {
    @include lyric-sheet-header-debug-border;
  }
}

@mixin lyric-sheet-div-debug-border {
    border: solid rgb(255, 255, 255);
}

.lyric-sheet-div{
  min-width: 345px;
  max-width: 345px;
  height: 91%;
  position: absolute;
  top: 42px;
  @if $album-pages-debug {
    @include lyric-sheet-div-debug-border;
  }
}

@mixin lyrics-debug-border {
    border: solid rgb(43, 255, 0);
}

.lyrics {
  background-color: rgb(209, 209, 20, 0);
  width: fit-content;
  margin-right: auto;
  position: relative;
  top: -20px;
  @if $album-pages-debug {
    @include lyrics-debug-border;
  }
}

@mixin lyrics-list-debug-border {
    border: solid orange;
}

#lyric-list{
    display: grid;
    padding: 0.5rem;
    gap: 1rem;
    font-size: larger;
    color: #ffffff;
    @if $album-pages-debug {
        @include lyrics-list-debug-border;
    }
}
  
#lyrics-na{
    margin-top: 0px;
    color: #ffffff;
    @if $album-pages-debug {
        @include lyrics-list-debug-border;
    }
}

/************************/
/***** Tabs content *****/
/************************/

@mixin tabs-column-debug-border {
    border: solid rgb(55, 0, 255);
}

.tabs-column {
    min-height: 500px;
    max-height: 500px;
    width: 345px;
    position: relative;
    @if $album-pages-debug {
      @include tabs-column-debug-border;
    }
}

@mixin tab-header-debug-border {
    border: solid rgb(0, 217, 255);
}

.tab-header{
  color: white;
  position: absolute;
  width: 100%;
  top: 0;
  margin-top: 0px;
  @if $album-pages-debug {
    @include tab-header-debug-border;
  }
}

@mixin tab-div-debug-border {
    border: solid rgb(255, 255, 255);
}

.tab-div{
  min-width: 345px;
  max-width: 345px;
  position: absolute;
  height: 91%;
  position: absolute;
  top: 42px;
  @if $album-pages-debug {
    @include tab-div-debug-border;
  }
}

@mixin tabs-debug-border {
    border: solid rgb(225, 0, 255);
}

.tabs {
  background-color: rgb(209, 209, 20, 0);
  position: absolute;
  width: 100%;
  height: 100%;

  @if $album-pages-debug {
    @include tabs-debug-border;
  }
}

@mixin tabs-list-debug-border {
    border: solid rgb(0, 218, 199);
}

#tab-list{
  display: grid;
  gap: 1rem;
  font-size: larger;
  color: #ffffff;
  position: absolute;
  list-style: inside;
  padding-left: 10px;
  width: 100%;
  top: 0;
  margin-top: 0px;

  @if $album-pages-debug {
    @include tabs-list-debug-border;
  }
}

#tabs-na{
  position: absolute;
  top: 45px;
  color: #ffffff;

  @if $album-pages-debug {
    @include tabs-list-debug-border;
  }
}