@import "//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css";

html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: auto;
  overflow-y: auto;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

html,
body {
  background-color: #818181;
  background-position: center;
  background-attachment: fixed; /* makes page background image not move when scrolling */
  height: 100%;
  margin: 0;
  line-height: 1.5;
  color: #121212;
  z-index: 900;
}

html {
  /* Making the html background transparent fixed issues with the background not fitting the viewport */
  background: transparent;
  background-color: transparent;
}

textarea,
input,
button {
  font-size: 1rem;
  font-family: inherit;
  border: none;
  border-radius: 8px;
  padding: 0.5rem 0.75rem;
  box-shadow: 0 0px 1px hsla(0, 0%, 0%, 0.2), 0 1px 2px hsla(0, 0%, 0%, 0.2);
  background-color: white;
  line-height: 1.5;
  margin: 0;
}

button {
  color: #3992ff;
  font-weight: 500;
}

textarea:hover,
input:hover,
button:hover {
  box-shadow: 0 0px 1px hsla(0, 0%, 0%, 0.6), 0 1px 2px hsla(0, 0%, 0%, 0.2);
}

button:active {
  box-shadow: 0 0px 1px hsla(0, 0%, 0%, 0.4);
  transform: translateY(1px);
}

form[action$="destroy"] button {
  color: #f44250;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

#root {
  display: flex;
  height: 100%;
  width: 100%;
}

/************************************************** Nav bar **************************************************/
$nav-bar-debug: false;

@mixin nav-bar-full-screen-container-debug-border {border: solid #f700ff;}
@mixin nav-bar-container-debug-border {border: solid #00eeff;}
@mixin nav-bar-main-debug-border {border: solid #fbff00;}
@mixin nav-bar-nav-debug-border {border: solid #ff5100;}
@mixin nav-bar-ul-debug-border {border: solid #e100ff;}
@mixin nav-bar-li-debug-border {border: solid #2600ff;}
@mixin nav-bar-a-debug-border {border: solid #00ff6a;}

// Mimics the main page container so that the sticky nav-bar-container stays visible the entire vertical length of the page
.nav-bar-full-screen-container {
  background-size: cover;
  min-height: 100%;
  min-width: 100%;
  position: absolute;
  overflow: visible;
  display: flex;
  justify-content: center;

  @if $nav-bar-debug {
    @include nav-bar-full-screen-container-debug-border;
  }
}

.nav-bar-container {
  min-width: 100%;
  height: 6rem;
  position: sticky;
  z-index: 1000;
  top: 0;
  @if $nav-bar-debug {
    @include nav-bar-container-debug-border;
  }
}

#navbar {
  min-width: 100%;
  height: 6rem;
  background-color: rgb(29, 28, 28, 0.7);
  display: flex;
  flex-direction: row;
  position: absolute;
  z-index: 950;
  // overflow-x: scroll;
  justify-content: center;

  @if $nav-bar-debug {
    @include nav-bar-main-debug-border;
  }
}

#navbar > div {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

#navbar nav {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1400px;
  overflow-x: visible;

  @if $nav-bar-debug {
    @include nav-bar-nav-debug-border;
  }
}

#navbar ul {
  display: flex;
  padding: 0;
  list-style-type: none;

  @if $nav-bar-debug {
    @include nav-bar-ul-debug-border;
  }
}

#navbar li {
  width: 347px;
  padding: 0px 7px;

  @if $nav-bar-debug {
    @include nav-bar-li-debug-border;
  }
}

#navbar nav a {
  display: flex;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
  padding: 0.25rem;
  border-radius: 8px;
  color: rgb(250, 250, 250); // text color
  text-decoration: none;
  font-size: xx-large;
  font-family: 'Courier New', Courier, monospace;

  @if $nav-bar-debug {
    @include nav-bar-a-debug-border;
  }
}

#navbar nav a:hover {
  background: rgba(255, 255, 255, 0.15);
}

a:link, a:visited, a:hover, a:active {
  text-decoration: none;
}
