/* =============================================
   Index
   =============================================
   Global styles.
*/

@import '//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css';

html {
  height: 100%;
  box-sizing: border-box;
}

// prettier-ignore
*, *::before, *::after {
  box-sizing: inherit;
}

body {
  min-height: 100%;
  margin: 0;
  padding: 0;
  background: black;
}

// prettier-ignore
a:link, a:visited, a:hover, a:active {
  text-decoration: none;
}
