.home-page-container {
    background-size: cover;
    min-height: 100%;
    min-width: 100%;
    position: absolute;
    overflow: visible;  
    display: flex;
    justify-content: center;
  
    /* color-scheme: normal; */
  }
  
  .home-page-content-container {
    position: relative;
    display: inline-block;
    height: fit-content;
    top: 100px;
    width: 1400px;
    /* border: solid white; */
    background-color: #80808067;
  }
  
  .featured-content-title-container {
    min-width: 100%;
    height: 75px;
    /* border: solid blue; */
  }
  
  .featured-content-title {
    min-width: 100%;
    min-height: 100%;
    color:#4d0505;
    font-family: 'Courier New', Courier, monospace;
    font-style: italic;
    letter-spacing: 10px;
    display:flex;
    align-items: center;
    justify-content: center;
    font-size: 40px;
    text-shadow: 1.5px 1.5px #000000;
    font-weight: lighter;
    /* border: solid #000000; */
    margin-top: 0px;
  }
  
  .featured-content-container {
    margin-top: 5px;
    min-width: 100%;
    height: 700px;
    /* border: solid purple; */
  }
  
  .featured-content-table {
    min-height: 100%;
    max-height: 100%;
    min-width: 100%;
    max-width: 100%;
    /* border: solid rgb(13, 5, 112); */
  }
  
  .featured-col-1-title {
    min-width: 100%;
    max-width: 100%;
    min-height: 5%;
    max-height: 5%;
    color:rgb(240, 240, 240);
    font-family: 'Courier New', Courier, monospace;
    font-style: italic;
    letter-spacing: 10px;
    font-size: 25px;
    text-shadow: 1px 1px #47474786;
    /* border: solid #000000; */
    position: absolute;
    top: 0;
    margin-top: 0px;
  }
  
  .featured-col-1 {
    min-width: 50%;
    max-width: 50%;
    min-height: 100%;
    max-height: 100%;
    /* border: solid rgb(219, 0, 190); */
    position: relative;
  }
  
  .featured-col-1-content-container { /* TODO: add child to display images inside of this div */
    min-width: 90%;
    max-width: 90%;
    min-height: 90%;
    max-height: 90%;
    position: absolute;
    /* border: solid rgb(228, 0, 0); */
    top: 0;
    margin-top: 50px;
    margin-left: 30px;
    padding: 0.5rem;
    border-radius: 8px;
  }
  
  .featured-col-1-link-div {
    min-width: 579px;
    max-width: 579px;
    min-height: 579px;
    max-height: 579px;
    position: absolute;
    /* border: solid rgb(0, 0, 0); */
    top: 0;
    left: 0;
    margin-left: 21px;
    border-radius: 8px;
    border: solid rgb(0, 0, 0);
    border-width: 2px;
  }
  
  .featured-col-1-link-div:hover {
    opacity: 0.75;
  }
  
  .featured-col-1-link-caption {
    position: absolute;
    opacity: 0;
    margin-top: 45%;
    top: 0;
    left: 0;
    right: 0;
    color: #000000;
    font-size: 30px;
    font-weight: 400;
    font-family: 'Courier New', Courier, monospace;
    font-style: italic;
  }
  
  .featured-col-1-link-div:hover .featured-col-1-link-caption {
    opacity: 0.75;
  }
  
  .featured-col-2-title {
    min-width: 100%;
    max-width: 100%;
    min-height: 5%;
    max-height: 5%;
    color:rgb(240, 240, 240);
    font-family: 'Courier New', Courier, monospace;
    font-style: italic;
    letter-spacing: 10px;
    font-size: 25px;
    text-shadow: 1px 1px #47474786;
    /* border: solid #000000; */
    position: absolute;
    top: 0;
    margin-top: 0px;
  }
  
  .featured-col-2 {
    min-width: 50%;
    max-width: 50%;
    min-height: 100%;
    max-height: 100%;
    /* border: solid rgb(155, 86, 86); */
    position: relative;
  }
  
  .featured-col-2-content-container {
    /* border: solid #3992ff; */
    min-width: 90%;
    max-width: 90%;
    min-height: 90%;
    max-height: 90%;
    position: absolute;
    top: 0;
    margin-top: 50px;
    margin-left: 30px;
    border-radius: 8px;
  }
  
  .featured-col-2-tiktok {
    width: 329px;
    height: 580px;
    position: 'relative';
    top: '0';
    /* border: none; */
    border: 2px solid rgb(0, 0, 0);
    border-radius: 8px;
  }
  
  .offensive-content-title-container {
    margin-top: 5px;
    min-width: 100%;
    height: 75px;
    /* border: solid yellow; */
  }
  
  .offensive-content-title {
    min-width: 100%;
    min-height: 100%;
    color:#4d0505;
    font-family: 'Courier New', Courier, monospace;
    font-style: italic;
    letter-spacing: 10px;
    display:flex;
    align-items: center;
    justify-content: center;
    font-size: 40px;
    text-shadow: 1.5px 1.5px #000000;
    font-weight: lighter;
    /* border: solid #3cff00; */
    margin-top: 0px;
  }
  
  .offensive-content-container {
    margin-top: 5px;
    min-width: 100%;
    height: 800px;
    border: solid red;
  }
  
  .offensive-content-table {
    min-height: 100%;
    max-height: 100%;
    min-width: 100%;
    max-width: 100%;
    border: solid rgb(13, 5, 112);
  }
  
  .offensive-col-1 {
    min-width: 50%;
    max-width: 50%;
    min-height: 100%;
    max-height: 100%;
    position: relative;
    border: solid rgb(219, 0, 190);
  }

  .offensive-col-2 {
    min-width: 50%;
    max-width: 50%;
    min-height: 100%;
    max-height: 100%;
    position: relative;
    border: solid rgb(155, 86, 86);
  }

  .offensive-col-2-title {
    min-width: 100%;
    max-width: 100%;
    min-height: 5%;
    max-height: 5%;
    color:rgb(240, 240, 240);
    font-family: 'Courier New', Courier, monospace;
    font-style: italic;
    letter-spacing: 10px;
    font-size: 25px;
    text-shadow: 1px 1px #47474786;
    position: absolute;
    top: 0;
    margin-top: 0px;
    // border: solid #000000;
  }

  .offensive-col-2-content-container {
    border: solid #3992ff;
    min-width: 90%;
    max-width: 90%;
    min-height: 90%;
    max-height: 90%;
    position: absolute;
    top: 0;
    margin-top: 50px;
    margin-left: 30px;
    border-radius: 8px;
  }

  .guestbook-display {
    border: solid #000000;
    min-width: 100%;
    max-width: 100%;
    min-height: 55%;
    max-height: 55%;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 8px;
  }

  .guestbook-form {
    border: solid #000000;
    min-width: 100%;
    max-width: 100%;
    min-height: 45%;
    max-height: 45%;
    position: absolute;
    bottom: 0;
    margin-top: 50px;
    border-radius: 8px;
  }

  .guestbook-name {
    min-width: 100%;
    max-width: 100%;
    top: 20px;
    left: 0;
    position: absolute;
  }

  .guestbook-message {
    min-width: 100%;
    max-width: 100%;
    // min-height: 65%;
    // max-height: 65%;
    min-height: 180px;
    max-height: 180px;
    position: absolute;
    top: 70px;
    left: 0;
  }

  .guestbook-submit {
    position: absolute;
    bottom: 20px;
    right: 0;
    min-width: 80px;
    max-width: 80px;
    min-height: 30px;
    max-height: 30px;
    text-align: center;
    font-weight: bold;
    line-height: 14px;
    color: #000000;
    background-color: #003cff;
  }
  
  .footer {
    margin-top: 5px;
    min-width: 100%;
    height: 75px;
    border: solid rgb(0, 255, 200);
  }
  
  /************************* Icon bar *************************/
  .icon-bar {
    position: fixed;
    top: 55%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  }
  
  .icon-bar a {
    display: block;
    text-align: center;
    padding: 16px;
    transition: all 0.3s ease;
    color: white;
    font-size: 20px;
  }
  
  .icon-bar a:hover {
    background-color: rgb(0, 0, 0, 0.75);
    opacity: 1;
  }
  
  .youtube {
    background: rgb(187, 0, 0, 0.75);
    color: white;
  } 
  
  .instagram {
    background: rgb(18, 86, 136, 0.75);
    color: white;
  } 
  
  .tiktok {
    background: rgb(6, 79, 187, 0.75);
    color: white;
  } 
  
  .spotify {
    background: rgb(39, 216, 104, 0.75);
    color: white;
  } 
  
  .bandcamp {
    background: rgb(29, 160, 195, 0.75);
    color: white;
  } 
  
  .soundcloud {
    background: rgb(255, 85, 0, 0.75);
    color: white;
  }
  
  .apple-music {
    background: rgb(250, 88, 106, 0.75);
    color: white;
  }