.video-table-container{
    position: relative;
    background-color: #000000;
    margin-left: auto;
    margin-right: auto;
    display: block;
    height: fit-content;
  }
  .video-table{
    padding: 110px 15px;
  }
  .video-left-col {
    padding-right: 10px;
  }
  
  .video-right-col {
    padding-left: 10px;
  }