// The default style for album pages

/**********************/
/***** Containers *****/
/**********************/

.album-page-title-header {
  font-size: 40px;
  color: #ffffff;
  font-family: 'Courier New', Courier, monospace;
  font-style: italic;
  letter-spacing: 10px;
  text-shadow: 1.5px 1.5px #000000;
  font-weight: lighter;
}

.horizontal-separator {
  border: none;
  border-top: 1px solid #6b6b6b;
  bottom: 40px;
}

.vertical-divider {
  border-left: 1px solid #6b6b6b;
  height: 200px;
}

/********************************/
/***** Album player content *****/
/********************************/

.album-player-header {
  color: white;
  font-family: 'Courier New', Courier, monospace;
  font-weight: lighter;
}

// .container {
//   .player {
//     .large-toggle-btn {
//         font-size: 1.5em;
//         border: 1px solid white;

//         .large-play-btn {
//           color: white;

//           &:before {
//             content: "\f04b";
//             font: 1.5em/1.75 "FontAwesome";
//           }
//         }

//         .large-pause-btn {
//           color: white;

//           &:before {
//             content: "\f04c";
//             font: 1.5em/1.75 "FontAwesome";
//           }
//         }
//     }

//     .info-box {
//       .track-info-box {
//         font-size: 12px;

//         .track-title-text {
//           color: white;
//         }

//         .audio-time {
//           color: white;
//         }
//       }
//     }
//     .progress-box {
//       .progress-cell {
//         .progress {
//           background: white;
//           border: 1px solid #d9d9d9;

//           .progress-buffer {
//             background: #337ab7;
//           }

//           .progress-indicator {
//             background: white;
//             border: 1px solid #bebebe;
//           }
//         }
//       }
//     }
//     .controls-box {
//       .previous-track-btn {
//         color: white;

//         &:before {
//           content: "\f049";
//           font: 1em "FontAwesome";
//         }
//       }

//       .next-track-btn {
//           color: white;

//           &:before {
//           content: "\f050";
//           font: 1em "FontAwesome";
//         }
//       }
//     }
//   }

//   .play-list {
//     .play-list-row {
//       .track-title {
//         .playlist-track {
//           color: white;

//           &:hover {
//             text-decoration: underline;
//           }
//           text-decoration: none;
//         }
//       }
//       .small-toggle-btn {
//         border: 1px solid white;

//         .small-play-btn {
//           color: white;

//           &:before {
//             content: "\f04b";
//             font: 0.85em "FontAwesome";
//           }
//         }

//         .small-pause-btn {
//           color: white;

//           &:before {
//             content: "\f04c";
//             font: 0.85em "FontAwesome";
//           }
//         }

//       }

//       .track-number {
//         color: white;
//         display: inline-block;
//       }

//       .track-title {
//         display: inline-block;

//         .playlist-track {
//           text-decoration: none;

//           &:hover {
//             text-decoration: underline;
//           }
//         }
//       }

//       .track-title.active-track {
//         font-weight: bold;
//       }
//     }
//   }
// }

.album-player-na {
  color: white;
  font-family: 'Courier New', Courier, monospace;
  font-style: italic;
  font-weight: lighter;
}

/***********************/
/***** Art content *****/
/***********************/

.artwork-header {
  color: white;
  font-family: 'Courier New', Courier, monospace;
  font-weight: lighter;
}

.artwork-na {
  color: white;
  font-family: 'Courier New', Courier, monospace;
  font-style: italic;
  font-weight: lighter;
}

/*******************************/
/***** Lyric sheet content *****/
/*******************************/

.lyric-sheet-header {
  color: white;
  font-family: 'Courier New', Courier, monospace;
  font-weight: lighter;
}

.lyric-list {
  color: #ffffff;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.lyrics-na {
  color: white;
  font-family: 'Courier New', Courier, monospace;
  font-style: italic;
  font-weight: lighter;
}

/************************/
/***** Tabs content *****/
/************************/

.tab-header {
  color: white;
  font-family: 'Courier New', Courier, monospace;
  font-weight: lighter;
}

.tab-list {
  color: #ffffff;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.tabs-na {
  color: white;
  font-family: 'Courier New', Courier, monospace;
  font-style: italic;
  font-weight: lighter;
}
