/* =============================================
   Album page ContentUnit Styles
   =============================================
   Styles for ContentUnit components on the album pages.
*/

// Variables
$large-column-width: 40%;
$large-column-min-width: 435px;
$small-column-width: 20%;
$small-column-min-width: 150px;

// Column specific styles
#column-1 {
  width: $large-column-width;
  min-width: $large-column-min-width;
  flex: 1 1 calc($large-column-width - 1rem);
}

#column-2,
#column-3,
#column-4 {
  width: $small-column-width;
  min-width: $small-column-min-width;
  flex: 1 1 calc($small-column-width - 1rem);
}

#column-1 .column-content,
#column-2 .column-content {
  font-size: 20px;
}

#column-3 .column-content,
#column-4 .column-content {
  font-size: 16px;
}

// Media queries
@media (max-width: 485px) {
  #column-1 {
    // Don't allow the album player column to get too small too quickly or else the vertically aligned column below might horizontally align itself with the album player column
    min-width: 375px;
  }
}

@media (max-width: 400px) {
  #column-1 {
    min-width: 275px;
  }
}
