/* =============================================
   Root styles
   =============================================
   Styles the home page.
*/

/**********************/
/***** Background *****/
/**********************/

$background-directory: '/public/images/backgrounds/default';

body {
  background-image: url($background-directory + '/large.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

@media (max-width: 1280px) {
  body {
    background-image: url($background-directory + '/medium.jpg');
    background-attachment: fixed;
  }
}

@media (max-width: 640px) {
  body {
    background-image: url($background-directory + '/small.jpg');
    background-attachment: fixed;
  }
}

@media (min-width: 1921px) {
  body {
    background-image: url($background-directory + '/extra_large.jpg');
    background-attachment: fixed;
  }
}
