/* =============================================
   Modifiable ContentUnit Styles
   =============================================
   A template for implementing additional ContentUnit styles.
   This file should not be used to style a ContentUnit directly.
   Instead, copy it into styles/your-page and rename it to 'content_unit.scss'.
*/

// Variables
$link-column-width: 50%;
$link-column-min-width: 450px;

// Unit styles
.unit {
  width: 85%;
}

// Unit title styles
.unit-title {
  color:#1eff00;
  font-family: 'Courier New', Courier, monospace;
  font-style: italic;
  letter-spacing: 10px;
}

// Shared column styles
.column-header {
  color:rgb(240, 240, 240);
  font-family: 'Courier New', Courier, monospace;
  font-style: italic;
  letter-spacing: 10px;
  font-size: 25px;
  text-shadow: 1px 1px #47474786;
}

.content-column {
  overflow: hidden;
  padding-bottom: 25px;
  // background-color: #94d300;
}

// Column specific styles
#link-column {
  width: $link-column-width;
  min-width: $link-column-min-width;
  flex: 1 1 calc($link-column-width - 1rem);
}

// Media queries
@media (max-width: 560px) {
  #link-column {
    min-width: 80vw;
  }
}
