/*******************************/
/******** Debugging code *******/
/*******************************/
$debug: false;

@mixin debug-border($color) {
  border: solid $color;
}

@if $debug {
  .unit {
    @include debug-border(#00ffea);
  }
  .unit-title {
    @include debug-border(rgb(255, 0, 85));
  }
  .content-container {
    @include debug-border(rgb(255, 255, 255));
  }
  .content-column {
    @include debug-border(rgb(0, 255, 55));
  }
  .column-header {
    @include debug-border(rgb(0, 0, 0));
  }
  .column-content {
    @include debug-border(rgb(208, 255, 0));
  }
}

.unit {
  margin-bottom: 2rem; // Padding below the unit to separate multiple units
  width: 100%;
  box-sizing: border-box;

  .unit-title {
    font-size: 2rem;
    margin-bottom: 1rem;
    margin-top: 0;
    text-align: center;
  }

  .content-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap; // Makes the columns wrap when the container gets too small
    align-items: stretch; // Ensure all columns have equal height
    gap: 1rem; // Spacing between columns

    .content-column {
      flex-grow: 1; // Allow columns to grow vertically
      display: flex;
      flex-direction: column;
      justify-content: flex-start;

      .column-header {
        font-size: 1.5rem;
        margin-bottom: 0.5rem;
        text-align: center;
        padding: 0.5rem;
        width: 100%;
        box-sizing: border-box;
        display: flex; // Flexbox for the header
        align-items: center; // Center the text vertically
        justify-content: center; // Center the text horizontally
        min-height: 3rem; // Set a reasonable minimum height to avoid wrapping pushing content
        margin-top: 0;
      }

      .column-content {
        display: flex; // Enable flexbox
        flex-direction: column; // Arrange content in a column
        justify-content: center; // Center vertically
        align-items: center; // Center horizontally
        text-align: center; // Ensure text is centered
        overflow-wrap: anywhere;
        border-radius: 8px;
        word-wrap: break-word;
        overflow-wrap: break-word;
        white-space: normal;
      }
    }
  }

  // Ensure columns stack on smaller screens
  @media (max-width: 600px) {
    .content-column {
      flex: 1 1 100%; // Stack columns vertically
    }
  }
}
