.youtube-video {
  width: 700px;
  height: 375px;
}

@media (max-width: 1500px) {
  .youtube-video {
    width: 650px;
  }
}

@media (max-width: 1180px) {
  .youtube-video {
    width: 650px;
  }
}

@media (max-width: 680px) {
  .youtube-video {
    width: 550px;
  }
}

@media (max-width: 580px) {
  .youtube-video {
    width: 350px;
  }
}

@media (max-width: 400px) {
  .youtube-video {
    width: 240px;
  }
}
