/* =============================================
   Home AlbumLink Styles
   =============================================
   Styles for the home page's AlbumLink.
   The album link should be styled to meet the following requirements:
    - When aligned horizontally with the featured social media post, the album link should match the post's height
    - When stacked vertically with the featured social media post, the album link should shrink to stay within its content container
*/

$static-dimensions: 580px;
$responsive-dimensions: 80vw;

.link-div {
  width: $static-dimensions;
  height: $static-dimensions;
  max-width: $static-dimensions;
  max-height: $static-dimensions;
}

.link-caption {
  font-size: calc($static-dimensions / 11);
}

// Defines the point at which the album link shrinks
@media (max-width: 650px) {
  .link-div {
    width: $responsive-dimensions;
    height: $responsive-dimensions;
  }

  .link-caption {
    font-size: min(calc($static-dimensions / 11), calc($responsive-dimensions / 10));
  }
}
