// Responsive background
/* Default: Large screens and high-res devices */
body {
  background-image: url('./public/images/background_main_1920_1280.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

/* Medium screens (tablets and small laptops) */
@media (max-width: 1280px) {
  body {
      background-image: url('./public/images/background_main_1280_853.jpg');
      background-attachment: fixed;
  }
}

/* Small screens (mobile devices) */
@media (max-width: 640px) {
  body {
      background-image: url('./public/images/background_main_640_427.jpg');
      background-attachment: fixed;
  }
}

/* Extra-large screens (high-res desktops) */
@media (min-width: 1921px) {
  body {
      background-image: url('./public/images/background_main_5184_3456.jpg');
      background-attachment: fixed;
  }
}
