/* =============================================
   SlideShow Styles
   =============================================
   Styles for the SlideShow component.
   Code adapted from https://www.w3schools.com/howto/tryit.asp?filename=tryhow_js_slideshow_auto.
*/

$debug: true;

@mixin my-slides-debug-border {border: solid #ffffff;}
@mixin container-debug-border {border: solid #d9ff00;}
@mixin slideshow-img-debug-border {border: solid #00ff37;}

.mySlides {
  @if $debug {
    @include my-slides-debug-border;
  }
}

img {
  vertical-align: middle;
}

.slideshow-container {
  width: 100%;

  @if $debug {
    @include container-debug-border;
  }
}

.slideshow-img {
  max-width: 100%;
  border-radius: 8px;

  @if $debug {
    @include slideshow-img-debug-border;
  }
}
  
.active {
  background-color: #717171;
}

.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@media only screen and (max-width: 300px) {
  .text {font-size: 11px}
}